doctype html(lang="de")

html
  head
    title Status
    //- script(src="/js/jquery-1.11.1.js")

    link(rel='stylesheet', type="text/css", href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type="text/css", href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
    script(src='/bootstrap/js/bootstrap.min.js')

  body
    div#title_image
        span#title_string OnAir2
    div#center_form
        h2 Einstellungen
        if ( infoText !=  "" )
            div#feedback_box  #{infoText}
        form(method="post")
            div(class="row")#mainbox
                div(class="span6")#innerbox
                    h3 Mitarbeiterbatenbank
                    textarea(name="newstatus") #{jsonDB}
                div(class="span5")
                    div(class="span3")#innerbox
                        h3 Telefonanlage
                        fieldset
                            label(for="asterisk_command") Bash-Kommndo:
                            input(id="asterisk_command", type="text", name="asterisk_command", value="#{config.asterisk_command}")
                    div(class="span3")#innerbox
                        h3 Glückskes
                        fieldset
                            label(for="fortune_command") Fortune-Kommndo:
                            input(id="fortune_command", type="text", name="fortune_command", value="#{config.fortune_command}")
                            label(for="fortune_interval") Fortune-Intervall (Sek.):
                            input(id="fortune_interval", type="number", name="fortune_interval", value="#{config.fortune_interval}")
                    div(class="span3")#innerbox
                        h3 Reload-Intervall
                        fieldset
                            label(for="browser_interval") Browser-Reload-Intervall (Sek.):
                            input(id="browser_interval", type="number", name="browser_interval", value="#{config.browser_interval}")
                        fieldset
                            label(for="mvv_interval") MVV-Reload-Intervall (Sek.):
                            input(id="mvv_interval", type="number", name="mvv_interval", value="#{config.mvv_interval}")
                        fieldset
                            label(for="asterisk_interval") Asterisk-Reload-Intervall (Sek.):
                            input(id="asterisk_interval", type="number", name="asterisk_interval", value="#{config.asterisk_interval}")
            button(id="speichern" name="speichern" type="submit").speichern Speichern



