doctype html(lang="de")

html
  head
    title Status
    //- script(src="/js/jquery-1.11.1.js")

    link(rel='stylesheet', type="text/css", href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type="text/css", href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
    script(src='/bootstrap/js/bootstrap.min.js')

    script(type='text/javascript').
      setTimeout(function(){
         window.location.reload(1);
      }, (#{refrashinterval} * 1000));

  body
    div#title_image
      span#title_string OnAir2

    div#im-centered
      div(class="row")
        each room, index in allstate.room
          div(class="span4")#innerbox
            h3 #{index}

            each person, i in room
                div#state_item
                    if (person.line == "ON AIR")
                        span( class='onair' ) ON AIR
                    else
                        span( class='offair' ) ON AIR

                    span#person_nummer #{person.name} [-#{person.number}]

    if ( nexttrain > 19 )
        if ( nexttrain == 999 )
            div#no_sbahn #{fortuneCookie}
        else
            div#late_train Der nächste Zug von Unterschleißheim fährt erst wieder in #{nexttrain} Min.
    else
        div#sbahn Der nächste Zug von Unterschleißheim fährt in #{nexttrain} Min.
